body {
  margin: 1em;
  font-family: roboto, sans-serif;
}
img {
  margin-left: 4em;
  width: 40%;
  box-shadow: 0 0 10px 10px lightgrey;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: white;
  width: 95%;
  padding: 1em;
  font-size: 12px;
}

@media screen {
  .wrapper {
    margin-bottom: 8em;
  }
}
