<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <h1>{{ page.title }}</h1>
      {{ content }}
      <footer>
        <hr>
        <div style="float:left">
        Lesbrief van het lab op het Innovatieplein van Bibliotheek Deventer<br>
        Deze lesbrief: <a href="{{ page.url | absolute_url }}">{{ page.url | absolute_url }}</a><br>
        </div>
        <div style="float:right; text-align: right">
        Iedere zaterdag 'open lab' van 14:30 tot 16:30<br>
        <a href="https://www.meetup.com/Innovatieplein-Deventer">https://www.meetup.com/Innovatieplein-Deventer</a><br>
        </div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
